<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DATA_TITLE</title>
    <!-- bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
  </head>
  <style>
    a {
      color: black;
      text-decoration: none;
    }

    a:hover {
      color: black;
    }
  </style>
  <body>
    <!-- navbar start -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
      <div class="container-fluid">
        <a class="navbar-brand" href="index.php">
          <img src="./assets/images/play.png" alt="LOGO PLAY" width="50px" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="index.php">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="produksi.php">Produksi</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="writer.php">Writer</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- navbar end -->

    <!-- content start -->
    <div class="container-fluid mt-5">
      <div class="card shadow mx-auto px-5" style="width: 80%">
        <div class="card-body">
          <h1 class="card-title text-center mb-5">DATA_TITLE</h1>
          <form action="#" method="post" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="nim" class="form-label">Judul</label>
              <input type="text" class="form-control" id="judul" name="judul" value="DATA_JUDUL" placeholder="Masukan Judul" required />
            </div>
            <div class="mb-3">
              <label for="semester" class="form-label">Jumlah Episode</label>
              <input type="number" class="form-control" id="jml_eps" name="jml_eps" value="DATA_EPISODE" placeholder="Masukan Jumlah Episode" required />
            </div>
            <div class="mb-3">
              <label for="semester" class="form-label">Tahun</label>
              <input type="number" class="form-control" id="tahun" name="tahun" value="DATA_TAHUN" placeholder="Masukan Tahun Rilis Drama" required />
            </div>
            <div class="mb-3">
              <label for="image" class="form-label">Poster Drama</label>
              <input class="form-control" type="file" id="image" name="image" value="DATA_POSTER" required />
            </div>
            <div class="mb-3">
              <label for="bidangDivisi" class="form-label">Writer</label>
              <select class="form-select" aria-label="Writer" id="writer" name="id_writer" required>
                <option selected disabled>select writer</option>
                DATA_WRITER
              </select>
            </div>
            <div class="mb-3">
              <label for="bidangDivisi" class="form-label">Produksi</label>
              <select class="form-select" aria-label="Produksi" id="produksi" name="id_produksi" required>
                <option selected disabled>select produksi</option>
                DATA_PRODUKSI
              </select>
            </div>
            <div class="mb-3">
              <label for="semester" class="form-label">Rating</label>
              <input type="number" class="form-control" id="semester" name="rating" value="DATA_RATING" placeholder="Masukan Rating" required />
            </div>
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Sinopsis</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" name= "sinopsis" rows="5">DATA_SINOPSIS</textarea>
            </div>
            <button type="submit" class="btn btn-primary" name="btn-submit" id="btn-submit">Submit</button>
            <button type="reset" class="btn btn-secondary" name="btn-reset" id="btn-reset">Reset</button>
          </form>
        </div>
      </div>
    </div>
    <!-- content end -->

    <!-- bootstrap bundle js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>
